################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/MoodJournal/obj/Debug/net9.0-android/designtime/build.props
